body {
    margin: 0;
    text-align: center;
    background-color: #111827;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    font-size: 36px;
}
.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
  

}

button {
    background: none;
    border: 2px solid #9AABD8;
    border-radius: 3px;
    color: #9AABD8;
}

